<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Resume</title>

    <style>
        .bcs {
            background-color: rgb(216, 198, 198);
        }
    </style>
</head>

<body class="bgc">
    <div class="container d-flex mt-5">
        <div class="column1    mx-2  ">

        </div>
        <div class="column2  mx-2 ">



            <div class="d-flex flex-row-reverse bd-highlight">
                <nav class="navbar navbar-expand-lg navbar-light ">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ">
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light " href="/home">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light " href="/about">AboutMe <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light " href="/resume">Resume <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light" href="/skills">Tech Skills <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light " href="/projects">Projects <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link btn btn-success text-light " href="/blog">Blog <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-1">
                                <a class="nav-link   btn btn-success text-light"
                                    href="https://ca.linkedin.com/in/maninder-singh-4b526670/" target="_blank">LinkedIn
                                    <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
            <br> <br>
            <h2 class="mx-4 font-weight-bold text-success">Resume</h2>



            <h4 class="mx-4 font-weight-bold text-dark">Experience</h4>
            <div class="card mx-4 border border-success bcs" style="width: 40rem;">
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-dark">Test Automation Lead</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Sept/2023-Present</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Infobahn SoftWorld Pvt. Ltd.</h6>
                    <h6 class="text-success">Tasks</h6>
                    <p class="mx-4 bg-success text-light">Designed and implemented a robust Automation Framework
                        utilizing Java, Selenium,
                        Appium, and Rest Assured to conduct comprehensive testing across five diverse
                        applications: The Kin, Kin Mobile, The Wildest, Adopt A Pet, and Vet Insights</p>
                    <p class="mx-4 bg-success text-light">Developed a unified framework capable of supporting Mobile
                        (Android, iOS) and Web
                        Testing for all applications, including Web Testing in mobile browsers</p>
                    <p class="mx-4 bg-success text-light">▪ Utilized advanced tools and technologies such as Appium2,
                        UiAutomator2, XCUITest,
                        and Lombok to enhance automation capabilities and ensure efficient testing
                        processes</p>
                    <p class="mx-4 bg-success text-light">Set up execution of Android and iOS applications on
                        BrowserStack using Appium, ensuring
                        seamless testing across multiple platforms</p>

                    <p class="mx-4 bg-success text-light">Implemented CircleCI and GitHub Actions jobs to establish
                        automated pipelines for
                        continuous integration and delivery, enabling scheduled runs and on-demand
                        executions for regression testing prior to releases and sanity suite validations for
                        production environments</p>
                    <p class="mx-4 bg-success text-light">
                        Integrated Key Performance Indicators (KPI’s) by creating dashboard app to track and display
                        automation results for multiple brands, ensuring clear visibility into testing outcomes
                    </p>

                    <br>


                    <h6 class="card-subtitle mb-2 text-dark">Test Automation Consultant</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Feb/2022-Dec/2023</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Plato Tech</h6>
                    <h6 class="text-success">Tasks</h6>
                    <p class="mx-4 bg-success text-light">Developed and executed automated test scripts using TestNG
                        Framework, Selenium, and Rest Assured to ensure software quality and reduce manual testing
                        efforts. </p>
                    <p class="mx-4 bg-success text-light">Utilized the developer tools network tab to create Postman API
                        collection and reduce testing time and effort.</p>
                    <p class="mx-4 bg-success text-light">Worked with Postman collection to automate API testing and
                        improve overall test coverage. </p>
                    <p class="mx-4 bg-success text-light">Collaborated with cross-functional teams to understand
                        requirements and create test plans, test cases, and test data.</p>
                    <p class="mx-4 bg-success text-light">Conducted functional, regression, and integration testing to
                        ensure that the software met business and technical requirements.</p>
                    <p class="mx-4 bg-success text-light">Responsible for maintenance of automated regression test cases
                        in Selenium Web Driver and Appium Mobile Automation using Java programming language.</p>
                    <p class="mx-4 bg-success text-light">Experience in mobile testing using Appium in both IOS and
                        Android applications using simulator and emulator.</p>

                    <p class="mx-4 bg-success text-light">Used Appium to facilitate mobile testing by creating a mobile
                        Driver class with the required Mobile capabilities </p>
                    <p class="mx-4 bg-success text-light">Performed tests on emulators and simulators. </p>

                    <p class="mx-4 bg-success text-light">Used Cucumber for browser-based testing with scenarios and
                        situations</p>
                    <p class="mx-4 bg-success text-light">Created Feature File, Scenario Outline with Cucumber
                        framework; generated step definitions and methods for different functionalities.</p>
                    <p class="mx-4 bg-success text-light">Developed and executed comprehensive test plans and test cases
                        using Cypress, Cucumber, JavaScript, and Chai for GUI testing of web applications.</p>
                    <p class="mx-4 bg-success text-light">Implemented the Page Object Model (POM) design pattern for
                        organizing and maintaining test scripts, resulting in improved test maintenance and scalability.
                    </p>
                    <p class="mx-4 bg-success text-light">Leveraged NPM for package management, enabling efficient
                        management of dependencies and project configurations.</p>
                    <p class="mx-4 bg-success text-light">Utilized Cypress Dashboard for recording and analyzing test
                        results, enhancing visibility into test execution and facilitating defect analysis.</p>
                    <br>

                    <h6 class="card-subtitle mb-2 text-dark">Test Automation Developer</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Jan/2019-Jan/2022</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Sunlife Financials</h6>
                    <h6 class="text-success">Tasks</h6>
                    <p class="mx-4 bg-success text-light">Developed and maintained automated regression test cases in
                        Selenium Web Driver and Appium
                        Mobile Automation using Java programming language
                    </p>
                    <p class="mx-4 bg-success text-light">Primarily responsible for overall Functionality Testing, White
                        Box testing, Black box Testing, System testing, and
                        primary point of contact for User Acceptance and Backend Testing.
                    </p>
                    <p class="mx-4 bg-success text-light">Designed and developed test strategy, test plan and test
                        cases; generated test and defect reports for
                        quality assurance.
                    </p>
                    <p class="mx-4 bg-success text-light">Worked in collaboration with developers to understand WSDL's &
                        XSD's requirements and optional elements
                        within a schema; developed test scope and test data according to the requirements.
                    </p>
                    <p class="mx-4 bg-success text-light">Worked closely with fulfillment development team in the
                        application lifecycle to clarify and refine business
                        and functional requirements for e-commerce department.
                    </p>
                    <p class="mx-4 bg-success text-light">Used Git as version controller.</p>
                    <p class="mx-4 bg-success text-light">Coordinated with different departments and take a leadership
                        role in reviewing, discussing and implementing
                        multiple projects; communicated test progress, results and other relevant information to
                        partners in charge and
                        project stakeholders.
                    </p>
                    <p class="mx-4 bg-success text-light">Developed test scripts to automate process of testing in
                        Selenium Web Driver.</p>
                    <p class="mx-4 bg-success text-light">Developed automated scripts using Selenium for end-to-end and
                        unit testing.</p>
                    <p class="mx-4 bg-success text-light">Applied XPATH filters and assertions to fetch and validate
                        desired data in the response</p>
                    <p class="mx-4 bg-success text-light">Exhibited ability to learn quickly and understand different
                        components of application as per business requirements. </p>
                    <p class="mx-4 bg-success text-light">Participated in user story grooming, understanding
                        requirements.</p>
                    <br>
                    <h6 class="card-subtitle mb-2 text-dark">QA Automation Engineer</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Oct/2016-Dec/2018</h6>
                    <h6 class="card-subtitle mb-2 text-dark">Telus Health</h6>
                    <h6 class="text-success">Tasks</h6>

                    <p class="mx-4 bg-success text-light">Configured Java, WebDriver, Maven tool and created selenium
                        automation scripts in Java using
                        TestNG framework and page object model (POM).
                    </p>
                    <p class="mx-4 bg-success text-light">Worked on Hybrid Automation Framework using Web Driver,
                        Eclipse, TestNG and Java in Windows platform to
                        optimize regression testing time.
                    </p>
                    <p class="mx-4 bg-success text-light">Designed, developed, and implemented POM based
                        automation-testing framework.</p>
                    <p class="mx-4 bg-success text-light">Created Feature File, Scenario Outline with Cucumber
                        framework; generated step definitions and methods for
                        different functionalities.
                    </p>
                    <p class="mx-4 bg-success text-light">Setup the Automation Framework using Selenium Web Driver,
                        TestNG and Run test cases in multiple browsers
                        and Platforms.
                    </p>
                    <p class="mx-4 bg-success text-light">Used JIRA to track bugs and maintain the flow of iterations;
                        re-tested fixed bugs and closed or re-opened defects in JIRA.</p>
                    <p class="mx-4 bg-success text-light">Generated, parsed and validated JSON and XML formatted data.
                    </p>
                    <p class="mx-4 bg-success text-light">Configured and maintained Jenkins to implement the CI process
                        and integrated it with Maven to schedule the builds.</p>
                    <p class="mx-4 bg-success text-light">Performed regression tests to validate the changes for
                        different functionalities, found defects and reported them
                        to development using Jira
                    </p>
                    <p class="mx-4 bg-success text-light">Generated reports using Extent Reports after testing
                        applications to analyze the pass percentage and failed cases.</p>
                    <p class="mx-4 bg-success text-light">Used Git to maintain and manage the build scripts, test data
                        used and other documents related to the project.</p>

                </div>
            </div>


            <br>
            <h4 class="mx-4 font-weight-bold text-dark">Education</h4>
            <div class="educontainer d-flex">

                <div class="card  mx-4 border border-success bcs" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Bachelor Degree</h5>
                        <h6 class="card-subtitle mb-2 text-dark">Computer Science Engineering</h6>
                        <h6 class="card-subtitle mb-2 text-dark">2010-2014</h6>
                        <p class="card-text">Dr. Br. Ambedkar National Institute of Technology</p>
                        <p>Jalandhar, India</p>

                    </div>
                </div>

            </div> <br>

        </div>



    </div>







</body>

</html>